/*
    Code for main side bar menu
*/
#sidebar {
    width: 200px;
    left: 230px;
    height: 100vh;
    position: fixed;
    padding-left: 20px;
    background-color: #000;
    color: #fff;
    float: left;
    font-weight: bold;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: #292929;
    color: #fff;
}

/*
    Code for main area the contents stored 
*/
#main {
    position: absolute;
    left: 480px; 
    width: fit-content;
    margin-right: 30px;
}

#contact_div {
    height: 100vh; 
    width: 200px;
    background-color: #000; 
    padding-right: 20px; 
    padding-left: 20px; 
    position: fixed;
}

#contact_div img {
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    background-color: #292929;
    color: #fff;
}


td {
    vertical-align: top;
}

h1 h2 h3 h4 h5 {
    margin-top: 30px;
}


/*
    Code for the div being used to isolate
    and add some colour
*/
.section{
    background-color: #1A1A1A;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/*
    Code for the table that
    is being used to show the 
    details of the project 
    in short form
*/
.details_table {
    background-color: #1A1A1A;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.details_table td {
    padding-bottom: 10px;
}

/*
    Code for all pictures and their
    captions in this portfolio
*/
figcaption {
    font-style: italic;
    color: #fff;
}

figure {
    margin-left: 0px;
    margin-right: 15px;
}

/*
   change the link colour so its more visible given the dark theme
*/
a {
    color: lightblue;
}
